server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fsrs_vocab?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    root: info
